extends layout

block content
  h1= title
  //p Welcome to #{title}
  #articles
    - each article in articles
      div.article
        div.created_at= article.create_at
        div.title
          a(href="/blog/"+article._id)!= article.title
        div.body= article.body
  p
  p
  div
    a(href="/blog/new") Write